.contact .row {
    display: flex;
    background-color: var(--black-color);
    flex-wrap: wrap;
    /*ekran küçüldüğünde haritanın altına atması için*/
    gap: 1rem;
    /*aralarında ki boşluğu ayarlama*/
}

.contact .row .map {
    flex: 1 1 45rem;
    width: 100%;
    object-fit: cover;
}

.contact .row form {
    flex: 1 1 45rem;
    text-align: center;
    padding: 5rem 2rem;
}

.contact .row form h3 {
    text-transform: uppercase;
    font-size: 3.5rem;
    color: #fff;
}

.contact .row form .inputbox {
    display: flex;
    align-items: center;
    margin: 2rem 0;
    border: var(--border);
}

.contact .row form .inputbox i {
    color: #fff;
    font-size: 2rem;
    padding-left: 2rem;
}

.contact .row form .inputbox input {
    width: 100%;
    padding: 2rem;
    font-size: 1.7rem;
    color: #fff;
    text-transform: none;
    background-color: transparent;
}

.contact .row form .btn {
    color: var(--main-color);
    background-color: #fff;
    font-weight: bold;
}